*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f6f6f6;
    font-family: Montserrat, serif;
}
button, input{
    font-family: Montserrat, serif;
}
nav{
    background-color: #f1f0f0;

}
.nav{
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 65px;
    justify-content: space-between;
}
.logo{
    text-decoration: none;
    color: black;
}
.button_nav{
    width: 130px;
    height: 40px;
    border-color: #18A0FB;
    border-radius: 5px;
}
.button_nav_link{
    text-decoration: none;
    color: #18A0FB;
}
.nav_employees{
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 65px;
    justify-content: space-between;
}
.nav_link{
    color: #18A0FB;
}


.content_main_guest {
    display: flex;
    flex-direction: row;
    gap: 214px;
    margin: 80px 80px;

}

.image {
    margin-right: 20px;
    height: 500px;
}

.text_info_main{
    margin-top: 145px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.button_add{
    width: 130px;
    height: 40px;
    border-color: #18A0FB;
    border-radius: 5px;
}
.button_add_link{
    text-decoration: none;
    color: #18A0FB;
}

.content_main_admin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    gap: 210px;
}
.add_employee{
    display: flex;
    flex-direction: column;
    gap: 160px;
}
.add_employee_info{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.add_new_data{
    display: flex;
    flex-direction: column;
    gap: 65px;
}
.add_new_data_info{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.login_content{
    display: block;
    margin: 120px auto;
    background-color: #ffffff;
    width: 787px;
    height: 473px;
    padding: 80px;
    border: 1px solid black;
}
.login_content_block{
    display: flex;
    flex-direction: column;
    gap: 54px;
    text-align: center;
}
.button_login{
    width: 130px;
    height: 40px;
    background-color: #18A0FB;
    border-radius: 5px;
    border-color: #18A0FB;
    color: white;

}
.field_login{
    width: 625px;
    height: 50px;
    padding: 10px;

}
.form_login{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.message{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #18A0FB;
    width: 400px;
    border-radius: 5px;
    color: white;
}

.add_employees_content{
    display: block;
    margin: 120px auto;
    background-color: #ffffff;
    width: 787px;
    height: 473px;
    padding: 80px;
    border: 1px solid black;
}
.add_employees_content_block{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}
.button_add_employees{
    width: 182px;
    height: 55px;
    background-color: #18A0FB;
    border-radius: 5px;
    border-color: #18A0FB;
    color: white;

}
.field_add_employees{
    width: 342px;
    height: 55px;
    padding: 10px;

}
.form_add_employees{
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
}
.fields_form{
    display: flex;
    flex-direction: row;
    gap: 35px;
}


.add_students_content{
    display: block;
    margin: 120px auto;
    background-color: #ffffff;
    width: 873px;
    height: 796px;
    padding: 80px;
    border: 1px solid black;
}
.add_students_content_block{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}
.button_add_student{
    width: 182px;
    height: 55px;
    background-color: #18A0FB;
    border-radius: 5px;
    border-color: #18A0FB;
    color: white;

}
.field_add_student{
    width: 693px;
    height: 55px;
    padding: 10px;

}
.form_add_students{
    display: flex;
    flex-direction: column;
    gap: 52px;
    align-items: center;
}
.fields_form_add_students{
    display: flex;
    flex-direction: column;
    gap: 33px;
}

.field_add_student_small{
    width: 332px;
    height: 55px;
    padding: 10px;

}

.small_fields_row{
    display: flex;
    flex-direction: row;
    gap: 27px;
}


.add_group_content{
    display: block;
    margin: 120px auto;
    background-color: #ffffff;
    width: 787px;
    height: 473px;
    padding: 100px;
    border: 1px solid black;
}
.add_group_content_block{
    display: flex;
    flex-direction: column;
    gap: 54px;
    text-align: center;
}
.button_add_group{
    width: 130px;
    height: 40px;
    background-color: #18A0FB;
    border-radius: 5px;
    border-color: #18A0FB;
    color: white;

}
.field_add_group{
    width: 625px;
    height: 50px;
    padding: 10px;

}
.form_add_group{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}



.add_discipline_content{
    display: block;
    margin: 120px auto;
    background-color: #ffffff;
    width: 787px;
    height: 473px;
    padding: 100px;
    border: 1px solid black;
}
.add_discipline_content_block{
    display: flex;
    flex-direction: column;
    gap: 54px;
    text-align: center;
}
.button_add_discipline{
    width: 130px;
    height: 40px;
    background-color: #18A0FB;
    border-radius: 5px;
    border-color: #18A0FB;
    color: white;

}
.field_add_discipline{
    width: 625px;
    height: 50px;
    padding: 10px;

}
.form_add_discipline{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.employee_cabinet{
    display: flex;
    flex-direction: row;
    gap: 80px;

}
.info_employees{
    width: 700px;
    height: 552px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}
.text_info{
    width: 600px;
    height: 55px;
    border: 1px solid black;
    padding: 15px;

}
.image_cabinet{
    width: 400px;
    height: 400px;
}
.content_cabinet{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.employee_cabinet_content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.students_content{
    padding: 120px 80px;
    display: flex;
    flex-direction: column;
    gap: 88px;
}
.students_title{
    font-size: 48px;
}
.list_students{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
li{
    list-style: none;
}

.counter{
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;

}
.student_in_list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
a{
    color: #18A0FB;
    text-decoration: none;
}


.groups_content{
    padding: 120px 80px;
    display: flex;
    flex-direction: column;
    gap: 88px;
}
.groups_title{
    font-size: 48px;
}
.list_groups{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 1em;
}
li{
    list-style: none;
}

.group_block{
    width: 200px;
    height: 80px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;

}
.wrapper{
    display: flex;
    justify-content: center;
}



.content_discipline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    gap: 80px;
}

.discipline_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.discipline_columns{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    background-color: #d2d2d2;
    text-align: center;
    align-items: center;
    padding: 20px;
}
.discipline_columns_two{
    background-color: #d2d2d2;
    width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
}
.button_ok{
    width: 130px;
    height: 40px;
    border-color: #18A0FB;
    border-radius: 5px;
    color: #18A0FB;
}
.discipline_filter{
    border-color: #18A0FB;
    color: #18A0FB;
    width: 130px;
    height: 40px;
}



.content_group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    gap: 30px;
}

.group_columns{
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 700px;

}
.group_columns_two{

    width: 500px;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
}
.discipline_filter_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_discipline_in_group{
    display: flex;
    flex-direction: column;
    gap:32px;
}
.discipline_add_in_group{
    height: 50px;
    width: 460px;
    padding: 10px;
}
.about_group_list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.button_add_discipline_in_group{
    height: 50px;
    width: 460px;
    color: white;
    background-color: #18A0FB;
    border: none;
    border-radius: 5px;
}
.desc_in_evaluations{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.desc{
    display: flex;
    flex-direction: row;
    gap: 526px;
}
.row_in_evaluations{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
.counter_students{
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;

}
.column_in_evaluations{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fio_student{
    width: 500px;
    height: 60px;
    background-color: #e7e7e7;
    padding: 23px;
}
.evaluations_number{
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}
.evaluations_in_group{
    width: 40px;
    height: 40px;

}
.content_evaluations{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 80px;
}
.eval{
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: center;
}
.btn{
    height: 55px;
    width: 180px;
    color: white;
    background-color: #18A0FB;
    border: none;
    border-radius: 5px;
}
.evaluations_button{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.discipline_in_list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.counter_discipline{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    padding: 9px;
    text-align: center;
}

.list_img{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_search{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.btn_search{
    height: 30px;
    width: 80px;
    color: white;
    background-color: #18A0FB;
    border: none;
    border-radius: 5px;
}
.a_search{
    color: white;
}
.input_search{
    height: 30px;
    width: 180px;
    border: none;
    border-radius: 5px;
}

.content_add_discipline_in_group{
    margin-top: 30px;
    margin-left: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 600px;
    height: 600px;
    background-color: #d2d2d2;
}
.counter_grade{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    padding: 9px;
    text-align: center;
}
.grade_columns{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    background-color: #d2d2d2;
    align-items: center;
    padding: 20px;
}
.grade_columns_two{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    height: 100px;
    background-color: #d2d2d2;
    align-items: center;
    padding: 20px;
}
